.col-wrapper {
	width:100%;
	margin:0 auto;
}
.col {
	margin:0 30px; 
	float:left; 
	display:inline;
}
.rest {
	/*width:-moz-calc( 100% - 550px );*/
	width:calc( 100% - 550px );
}
.col-350 {
	width:350px;
}
.pageminusheader {
	/*height:-moz-calc( 100% - 100px )*/
	height:calc( 100% - 100px )
}

.bar {
    width: 20px;
    margin: 1px;
    display: inline-block;
    position: relative;
    background-color: #aeaeae;
    vertical-align: baseline;
}
